{% extends 'service/base.html' %}

{% block content %}
<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h1 class="display-1">Главная страница</h1>
</div>


<div class="container col-10">
    <div class="card">
        <div class="card-header text-center">

        </div>
        <div class="card-body">
            <div class="col-12">
                <h4>Добро пожаловать на нашу главную страницу! Здесь вы найдете наш блог, полный интересных и
                    познавательных статей на различные темы. Наша команда экспертов постоянно работает над созданием
                    увлекательного и полезного контента, который поможет вам расширить свои знания и найти
                    вдохновение.</h4><br>

                <h4>В нашем блоге вы найдете статьи о путешествиях, культуре, здоровье, технологиях, и многом другом. Мы
                    стараемся предоставить вам информацию, которая будет интересна и полезна для вас.</h4><br>

                <h4>Не забудьте подписаться на нашу рассылку, чтобы быть в курсе всех новых публикаций и получить доступ
                    к эксклюзивному контенту. Вы также можете оставлять комментарии под статьями, чтобы поделиться
                    своими мыслями и обсудить тему с другими читателями.</h4><br>

                <h4>Мы надеемся, что наш блог станет вашим надежным источником информации и вдохновения. Приятного
                    чтения!</h4>
            </div>
        </div>
    </div>


    {% endblock %}
