{% extends 'service/base.html' %}

{% block content %}
<div class="container col-8 mt-2 mb-5">
    <div class="card">
        <div class="card-header text-center">
            <h1>Статистика</h1>
        </div>
        <div class="card-body">
            <div class="row text-center ">
                <div class="col-12">
                    <table class="table">
                        <tr>
                            <th><h4>Все клиенты</h4></th>
                            <th><h4>Общее количество рассылок</h4></th>
                            <th><h4>Активные рассылки</h4></th>
                        </tr>

                        <tr>
                            <td><h4>{{ client }}</h4></td>
                            <td><h4>{{ mailing }}</h4></td>
                            <td><h4>{{ mailing_count }}</h4></td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row text-center">

        {% for object in blogs %}
        <div class="col-4 mh-45">

            <div class="card mb-4 box-shadow">

                <div class="card-header">
                    <h4 class="my-0 font-weight-normal">{{ object.category.name }}</h4>
                </div>
                <div class="card-body">

                    <h3 class="card-title pricing-card-title">{{ object.title | truncatechars:'23' }}</h3>
                    <ul class="list-unstyled mt-3 mb-4 text-start m-3">
                        <li class="mb-2">{{ object.content | truncatechars:'100' }}</li>



                    </ul>

                    <a href="{% url 'blog:blog_detail' object.slug %}" type="button"
                       class="mb-3 form-control btn btn-lg btn-success">Просмотр</a>



                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    {% endblock %}

