Django==5.0.6
asgiref==3.8.1
sqlparse==0.5.0
tzdata==2024.1
APScheduler==3.10.4
django-apscheduler==0.6.2
pytz==2024.1
six==1.16.0
tzlocal==5.2
asttokens==2.4.1
colorama==0.4.6
decorator==5.1.1
executing==2.0.1
ipython==8.25.0
jedi==0.19.1
matplotlib-inline==0.1.7
parso==0.8.4
prompt-toolkit==3.0.47
pure-eval==0.2.2
pygments==2.18.0
stack-data==0.6.3
traitlets==5.14.3
typing-extensions==4.12.2
wcwidth==0.2.13
pillow==10.3.0
psycopg2==2.9.9
psycopg2-binary==2.9.9
python-dotenv==1.0.1
pytils==0.4.1
black==24.4.2
click==8.1.7
mypy-extensions==1.0.0
packaging==24.1
pathspec==0.12.1
platformdirs==4.2.2
redis==5.0.6


