{% extends 'service/base.html'%}

{% block content %}

<div class="col-12">
    <form class="row" method="post">
        <div class="col-3"></div>
        <div class="col-6">
            <div class="card">
                <div class="card-header">
                    <h2 class="card-title">Востановление пароля</h2>
                </div>
                <div class="card-body">

                    {% csrf_token %}
                    {% for f in form %}
                        <p ><label class="form-label" for="{{ f.id_for_label }}">{{f.label}}: </label>{{ f }}</p>
                        <div class="form-error">{{ f.errors }}</div>
                    {% endfor %}
                    <button type="submit" class="btn btn-success">Сбросить по E-mail</button>

                </div>
                <div class="card-footer"></div>
            </div>
        </div>

    </form>
</div>

{% endblock %}
