{% extends "service/base.html" %}
{% block content %}
<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h1 class="display-1">Страница контроля рассылок</h1>
</div>

<div class="container col-8 mt-2 mb-5">
    <div class="card">
        <div class="card-header text-center">
            <h1>Статистика</h1>
        </div>
        <div class="card-body">
            <div class="row text-center ">
                <div class="col-12">
                    <table class="table">
                        <tr>
                            <th><h4>Количество рассылок</h4></th>
                            <th><h4>Количество активных рассылок</h4></th>
                            <th><h4>Количество уникальных клиентов</h4></th>
                        </tr>

                        <tr>
                            <td><h4>{{ all }}</h4></td>
                            <td><h4>{{ active }}</h4></td>
                            <td><h4>{{ clients_count }}</h4></td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container col-10">
    <div class="bt-group mt-3 mb-3">
        <div class="col-6">
            <a class="p-2 btn btn-outline-primary btn-block btn-lg" href="{% url 'service:mailing_create' %}">
                Создать новую рассылку</a>
            <a class="p-2 btn btn-outline-primary btn-block btn-lg ms-2" href="{% url 'service:create_message' %}">
                Создать сообщение</a>
                <a class="p-2 btn btn-outline-primary btn-block btn-lg ms-2" href="{% url 'service:message_list' %}">
                    Письма</a>
        </div>

    </div>
    <div class="card">
        <div class="card-header text-center">
            <h1>Рассылки</h1>
        </div>
        <div class="card-body">
            <div class="col-12 text-center">
                {% for object in object_list %}
                <table class="table">
                    <tr>
                        <th><h4>Время рассылки</h4></th>
                        <th><h4>Статус рассылки</h4></th>
                        <th><h4>Периодичность рассылки</h4></th>
                        <th><h4>Подробности рассылки</h4></th>
                        <th><h4>Редактирование рассылки</h4></th>
                        <th><h4>Удаление рассылки</h4></th>
                    </tr>

                    <tr>

                        <td><h4>{{ object.start_time }}</h4></td>
                        <td><h4>{{ object.status }}</h4></td>
                        <td><h4>{{ object.periodicity }}</h4></td>


                        <td><h4>
                            <a href="{% url 'service:mailing_detail' object.pk %}" class="btn btn-lg btn-primary">Подробно</a>
                        </h4></td>
                        <td><h4>
                            <a class="btn btn-lg btn-warning"
                               href="{% url 'service:mailing_update' object.pk %}">Исправить</a>
                        </h4></td>
                        <td><h4>
                            <a class="btn btn-lg btn-danger"
                               href="{% url 'service:mailing_delete' object.pk %}">Удалить</a>
                        </h4></td>

                    </tr>

                </table>
                {% endfor %}
            </div>
        </div>
    </div>

</div>
{% endblock %}
