{% extends "service/base.html" %}
{% block content %}
<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h1 class="display-1">Страница контроля рассылок</h1>
</div>

<div class="container col-8 mt-2 mb-5">
    <div class="bt-group mt-3 mb-3">
        <div class="col-8">

            <a class="p-2 btn btn-outline-primary btn-block btn-lg" href="{% url 'service:mailing_create' %}">
                Создать новую рассылку</a>
            <a class="p-2 btn btn-outline-primary btn-block btn-lg ms-2" href="{% url 'service:create_message' %}">
                Создать сообщение</a>
                <a class="p-2 btn btn-outline-primary btn-block btn-lg ms-2" href="{% url 'service:message_list' %}">
                    Письма</a>
        </div>
    </div>

    <div class="container col-12">
    <div class="card">
        <div class="card-header text-center">
            <h1>Рассылки</h1>
        </div>
        <div class="card-body">
            <div class="col-12 text-center">
                 <table class="table">
                        <thead>
                        <tr>

                            <th scope="col"><h4>Начало рассылки</h4></th>
                            <th scope="col"><h4>Конец рассылки</h4></th>
                            <th scope="col"><h4>переодичность</h4></th>
                            <th scope="col"><h4>Статус</h4></th>
                            <th scope="col"><h4>Подробная информация</h4></th>
                            <th scope="col"><h4>Изменение рассылки</h4></th>
                            <th scope="col"><h4>Удаление рассылки</h4></th>


                                    </tr>
                                    </thead>

                                <tr>


                                </tr>
                                <td>{{ object.start_time }}</td>
                                    <td scope="col">{{ object.end_time }}</td>
                                    <td scope="col">{{ object.periodicity }}</td>
                                    <td scope="col">{{ object.status }}</td>
                                    <td>
                                        <div class="text-center">
                                            <a href="{% url 'service:mailing_detail' object.pk %}" class="btn btn-lg btn-primary">Подробная информация</a>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="text-center">
                                            <a href="{% url 'service:mailing_update' object.pk %}" class="btn btn-lg btn-warning">Исправить</a>
                                        </div>
                                    </td>

                                    <td>
                                        <div class="text-center">
                                            <a href="{% url 'service:mailing_delete' object.pk %}" class="btn btn-lg btn-danger">Удалить</a>
                                        </div>

                                    </td>



                                    </h4></td>
                                    <td><h4>
                                        {% elif user.is_staff or user.is_superuser %}
                                <tr>
                                    <td>{{ object.start_time }}</td>
                                    <td scope="col">{{ object.end_time }}</td>
                                    <td scope="col">{{ object.periodicity }}</td>
                                    <td scope="col">{{ object.status }}</td>
                                    <td>
                                        <div class="text-center">
                                            <a href="{% url 'service:mailing_detail' object.pk %}" class="btn btn-lg btn-primary">Подробная информация</a>
                                        </div>
                                    </td>

                                    <td>
                                        <div class="text-center">
                                            <a href="{% url 'service:mailing_update' object.pk %}" class="btn btn-lg btn-warning">Исправить</a>
                                        </div>
                                    </td>

                                    {% if user.is_superuser %}
                                    <td>
                                        <div class="text-center">
                                            <a href="{% url 'service:mailing_delete' object.pk %}" class="btn btn-lg btn-danger">Удалить</a>
                                        </div>
                                    </td>
                                    {% endif %}
                                </tr>
                                {% endif %}
                            {% endfor %}

                 </table>

                                        <a class="btn btn-lg btn-warning"
                                           href="{% url 'service:mailing_update' object.pk %}">Исправить</a>


                                    </h4></td>


                                </tr>


                </div>
            </div>
        </div>
    </div>

    {% endblock %}

