{% extends "service/base.html" %}
{% block content %}
<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h1 class="display-1">Страница всех писем</h1>
</div>

<div class="container col-8 mt-2 mb-5">

</div>
<div class="container col-10">
    <div class="card">
        <div class="card-header text-center">
            <h1>Письма</h1>
        </div>
        <div class="card-body">
            <div class="col-12 text-center">


                <table class="table">
                        <thead>
                        <tr>

                            <th scope="col"><h4>Тема письма</h4></th>
                            {% if user.is_superuser %}
                            <th colspan="6"><h4>Сообщение</h4></th>
                            {% else %}
                                <th colspan="6"><h4>Сообщение</h4></th>
                            {% endif %}
                            <th scope="col"><h4>Подробности письма</h4></th>


                            {% if user.is_superuser %}
                                <th scope="col"><h4>Редактирование письма</h4></th>
                            {% else %}
                                <th scope="col"><h4>Редактирование письма</h4></th>
                            {% endif %}
                            {% if user.is_superuser %}
                            <th scope="col"><h4>Удаление письма</h4></th>
                            {% endif %}

                        </tr>
                        </thead>
                        <tr>

                            {% for object in object_list %}
                                {% if user.email == object.user.email %}
                                <tr>
                                    <td>{{ object.title }}</td>
                                    <td colspan="6">{{ object.text|truncatechars:100 }}</td>
                                    <td>
                                        <div class="text-center">
                                            <a href="{% url 'service:message_detail' object.pk %}" class="btn btn-lg btn-primary">Подробная информация</a>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="text-center">
                                            <a href="{% url 'service:message_update' object.pk %}" class="btn btn-lg btn-warning">Исправить</a>
                                        </div>
                                    </td>
                                </tr>



                                {% elif user.is_staff or user.superuser %}
                                <tr>
                                    <td>{{ object.title }}</td>
                                    <td colspan="6">{{ object.text|truncatechars:100 }}</td>
                                    <td>
                                        <div class="text-center">
                                            <a href="{% url 'service:message_detail' object.pk %}" class="btn btn-lg btn-primary">Подробная информация</a>
                                        </div>
                                    </td>
                                    {% if user.is_superuser %}
                                    <td>
                                        <div class="text-center">
                                            <a href="{% url 'service:message_update' object.pk %}" class="btn btn-lg btn-warning">Исправить</a>
                                        </div>
                                    </td>
                                    {% endif %}
                                    {% if user.is_superuser %}
                                    <td>
                                        <div class="text-center">
                                            <a href="{% url 'service:message_delete' object.pk %}" class="btn btn-lg btn-danger">Удалить</a>
                                        </div>
                                    </td>
                                    {% endif %}
                                </tr>
                                {% endif %}
                            {% endfor %}

                    </table>
            </div>
        </div>
    </div>

</div>
{% endblock %}
